.banner{background-image: url('../../../assets/images/home_banner.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}


h2{font-family: cursive;
    font-size: xxx-large;
    color: darkorchid;}

button{font-size: x-large;
    border: solid darkorchid;}

button:hover{font-size: xx-large;
            background-color: darkorchid;
            color: aliceblue;}
.view_block{display: block;}
.view_hide{display: none;}
.shadow{box-shadow: 0 4px 8px 0 rgba(153, 50, 204, 5.2)!important;}
